.Question {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 12px;
  max-height: 1000px;
  overflow: hidden;
  animation: slideIn 2s ease;
}

.Question section {
  padding: 12px;
  padding-top: 18px;
}

.Question:not(:first-child) {
  border: 3px solid red;
  display: none;
  transition: 2s all ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.Question.failed,
.Question.completed {
  pointer-events: none;
  opacity: 0;
  transition: all 1s ease-in-out 1s, background-color 0.3s ease-in-out 0s;
  max-height: 0px;
  transform: translateX(-1000px);
  margin: 0;
}
/* transition: property name | duration | timing function | delay */
:global(.removed) {
  display: none;
}
.Question.failed {
  background-color: rgb(255, 94, 94);
}

.Question.failed .option {
  background-color: rgb(255, 157, 157);
}

.Question.completed {
  background-color: rgb(99, 223, 99);
}

.Question.deleted {
  display: none;
}

.Question h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

.subject {
  margin: 18px auto;
  text-align: center;
}

.subject img {
  max-width: 100%;
  border: 1px solid black;
}

.subject span {
  font-size: 1.5rem;
  font-weight: 600;
}

.option {
  padding: 12px;
  background-color: gold;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 6px;
  margin-bottom: 3px;
}

.option.correct {
  background-color: rgb(156, 236, 156) !important;
}

.option.incorrect {
  background-color: pink;
}
