.Question {
  background-color: white;
  padding: 18px;
  border-radius: 12px;
}

.Question h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}

.subject {
  margin: 18px auto;
  text-align: center;
}

.subject img {
  max-width: 100%;
  border: 1px solid black;
}

.subject span {
  font-size: 1.5rem;
  font-weight: 600;
}

.option {
  padding: 12px;
  background-color: gold;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;
  margin-bottom: 3px;
}
