.Summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s all ease-in-out;
  max-height: 50px;
}

.Summary .scoreText {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  display: none;
  font-weight: 600;
}

.Summary.finished {
  height: 100%;
  max-height: 800px;
}

.Summary.finished .scoreText {
  display: block;
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.Summary .submitControls {
  display: none;
  opacity: 0;
}

.Summary.finished .submitControls {
  animation: fadeIn 1s forwards ease;
  display: block;
}

.Summary button {
  transition: 0.3s all ease;
}

.Summary button:disabled {
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.submitControls {
  margin: auto;
  margin-top: 12px;
}

.submitControls input {
  height: 2rem;
  margin: auto;
  display: block;
  width: 200px;
  outline: none;
  border: none;
  padding: 3px;
  border-radius: 3px;
}

.submitControls button {
  display: block;
  margin: auto;
  width: 200px;
  padding: 12px;
  margin-top: 6px;
  border: none;
  border-radius: 6px;
  background-color: gold;
}
