.Summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s all ease-in-out;
  max-height: 50px;
}

.Summary .scoreText {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  display: none;
  font-weight: 800;
}

.Summary.finished {
  height: 100%;
  max-height: 800px;
}

.Summary.finished .scoreText {
  display: block;
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.Summary .submitControls {
  display: none;
  opacity: 0;
}

.Summary.finished .submitControls {
  animation: fadeIn 1s forwards ease;
  display: unset;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
